html, body {
    height: 420px;
    width: 360px;;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-family: sans-serif;
	line-height: 1.25;
    -ms-text-size-adjust: 100%;
    color: #222222;
}

h1 {
	font-size: 1.5em;
    margin: 0.67em 0;
    color: #1e73be;
}

a, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 5px;
    width: 300px;
    border-bottom: 1px solid rgba(30, 115, 190, 0.20);
}

li:hover {
    cursor: pointer;
    background-color: lightgray;
}

h1>img {
    padding-right: 15px;
    vertical-align: bottom;
}

li>span {
    font-size: 0.5em;
    color: #1e73be;
}